<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    
    <title>Document</title>
</head>
<body>
    <form action="/admin/index" method="POST" enctype="multipart/form-data" >
    <label for="titre">titre</label><br><br>
    <input type="text" name="titre" id="titre">
    <label for="description">description</label><br><br>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <input type="file" name="image" id="image">
    <input type="submit" name="submit" id="submit">
    </form>
    <button><a href="/admin/list">voir la liste</a></button>
</body>
</html>