<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <header id="header">
    <h1>Hello</h1>
  </header>
  <section id="aboutme">
    <img id="imgordi" src="/image/ordi3.jpg">
    <div id="presentation">
      <h1>Qui suis-je ?</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam, possimus repellendus asperiores
        optio sunt temporibus, quasi voluptas corrupti vel dolores necessitatibus? Quaerat aspernatur nulla id, impedit
        expedita adipisci repellendus.</p>
    </div>
  </section>
  <div id="titrecomp">
    <h2>Compétences</h2>
    <hr id="mybar" />
  </div>
  <div id="container-cards">
    <div class="carte">
      <canvas id="canvas1" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas2" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas3" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas4" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas5" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas6" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas7" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas8" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas9" width="200" height="200"></canvas>
    </div>
    <div class="carte">
      <canvas id="canvas10" width="200" height="200"></canvas>
    </div>
  </div>

  <div class='card1'>
    <% for(var i=0; i < project.length; i++) { %>
    <div class="c1">
      <h1><%= project[i].titre %></h1>
      <p><%= project[i].description %></p>
      <img class="impec" src="/image/<%= project[i].image %>" />
    </div>
    <% } %>
  </div>


  <div class="container">
    <form action="/contact" method="POST">
      <label for="fname">Nom</label><br>
      <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>
      <label for="email">E-mail</label><br>
      <input type="text" name="email" id="email" placeholder="Your email"><br>
      <label for="message">Message</label><br>
      <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
      <input type="submit" name="valider" id="submit">
    </form>
  </div>
  <script src="index.js"></script>
</body>

</html>